@font-face {
    font-family: 'Argentum Sans';
    src: url('assets/fonts/ArgentumSans-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans Thin';
    src: url('assets/fonts/ArgentumSans-Thin.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans Light';
    src: url('assets/fonts/ArgentumSans-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans Medium';
    src: url('assets/fonts/ArgentumSans-Medium.ttf') format('truetype');
    font-display: swap;
}